<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Youtube</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Ajaz</servlet-name>
    <servlet-class>com.project.Myservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ajaz</servlet-name>
    <url-pattern>/ajaz</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.project.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/fifa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.project.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/SS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book2</display-name>
    <servlet-name>book2</servlet-name>
    <servlet-class>com.Booking.book1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book2</servlet-name>
    <url-pattern>/book2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>book</display-name>
    <servlet-name>book</servlet-name>
    <servlet-class>com.Booking.book1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>book</servlet-name>
    <url-pattern>/book</url-pattern>
  </servlet-mapping>
</web-app>